@import '../abstract/variaveis';

.button__proceed{
    background: $color-bright-blue;
    border-radius: .8rem;
    border-style: none;
    color: $color-very-pale-blue;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
    padding: 1rem 4rem;
    @media screen and (min-width: $desktop){
        cursor: pointer;
        padding-left: 6rem;
        padding-right: 6rem;
        &:hover{
            background: $color-desaturated-blue;
        }
    }
}

.button__cancel{
    background: $color-very-pale-blue;
    border-style: none;
    color: $color-desaturated-blue;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .5rem;
    padding: 1rem 4rem;
    @media screen and (min-width: $desktop){
        cursor: pointer;
        padding-left: 6rem;
        padding-right: 6rem;
        &:hover{
            color: $color-dark-blue;
        }
    }
}