@import '../abstract/variaveis';

footer{
    p{
        font-size: .8rem;
        position: relative;
        text-align: center;
        top: 94vh;
        @media screen and (min-width: $desktop){
            margin-top: .5rem;
            top: 88vh;
        }

        a{
            color: $color-bright-blue;
            text-decoration: none;
            @media screen and (min-width: $desktop){
                &:hover{
                    border-bottom: 1px solid $color-bright-blue;
                }
            }
        }
    }
}